@model Presentation.View_Model.AccountViewModel;

<div class="mb-3">
    <label for="oldPassword" class="form-label">Old Password</label>
    <input asp-for="Password" type="password" class="form-control" id="oldPassword" required>
    control" placeholder="Enter password" />
    <span asp-validation-for="Password" class="text-danger"></span>
</div>
<div class="mb-3">
    <label for="new-password" class="form-label">New Password</label>
    <input type="password" class="form-control" id="new-password" required>
    <span class="err-new-msg text-danger"></span>
</div>
<div class="mb-3">
    <label for="confirm-password" class="form-label">Confirm New Password</label>
    <input type="password" class="form-control" id="confirm-password" required>
    <span class="err-confirm-msg text-danger"></span>
</div>
<div id="passwordError" class="text-danger" style="display:none;"></div>