<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="User" asp-action="Index">Dashboard</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Account" asp-action="ListAccount">Manage Accounts</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Category" asp-action="Index">Manage Categories</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Article" asp-action="Index">Manage Articles</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Article" asp-action="Index">Manage Tags</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-controller="Report" asp-action="Index">Reports / Statistics</a>
</li>